<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <h2>Welcome to flashcards app !</h2>
  <%= link_to 'GoBack', :back %>
  <% if logged_in? %>
      <%= link_to 'Logout', logout_path,method: :delete %>
  <% else %>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Signup', signup_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
